* {font-family: Nunito Sans;}


.big-title {
    font-family: Nunito Sans;
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 50%;}

#hero {
    height: 800px;
    background: url(hero.jpg);
    background-position: center top;
    background-size: cover;}

.in-conteiner {max-width: 1024px;
    width: 100%;
    margin: 0 auto;

}

#header {height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;}
    #logo {height: 100px;
    width: 100px;
    object-fit: contain;}

.nav {margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
        font-family: Nunito Sans;
}

.nav-item {margin: 0;
    color: #1C1917;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
text-decoration: none
 }

.phone {display: flex;
    align-items: center;}
    
p {font-family: Nunito Sans;}

.phone-icon {width: 20px;
    height: 20px;
    margin-right: 10px;}

.text-under-title {font-size: 20px;
    margin-bottom: 50px;
    max-width: 40%;
    color: #57534E;
    font-weight: 300;
    line-height: 22px;}

.button-sign-up {    border: none;
    padding: 16px 32px;
    background-color: #F97316;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 1px 1px 4px #D6D3D1;
    cursor:pointer;}

.title-advantages {font-family: Nunito Sans;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.advantages {margin: 0 auto;
    padding: 100px 0 70px;}

.conteiner-for-blocks {display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;}

.advantage {flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #F5F5F4;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;}

.icon-adv {width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: white;
    background-color: #F97316;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #D6D3D1;}

.title-adv {font-size: 18px;
    margin-top: 10px;}

.content-adv {font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 22px;
    color: #57534E;}

.group-people {display: flex;
    margin-top: 50px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto
}

.title-group-people {    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
font-family: Nunito Sans;
justify-content: space-between;}

.content-group-people {margin-top: 20px;
    line-height: 20px;
    color: #44403C;}

.people-img {    width: 500px;
    margin-left: 20px;}

.general-conteiner{
    background-color: #FFEDD5;
    margin: 0 auto;
    padding: 100px 0 70px;
}

.title2 {font-family: Nunito Sans;
    font-size: 36px;
    text-align: center;
    font-weight: 700;}

.form-text {    color: #57534E;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;}

.forms {margin: 70px auto;
    display: flex;
    justify-content: center;}

.form {height: 50px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    padding-left: 5px;
    margin-right: 10px;}

.submit {    border: none;
    padding: 16px 32px;
    background-color: #F97316;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 1px 1px 4px #D6D3D1;}

.reviews {margin: 0 auto;
    padding: 100px 0 70px;
    background-color: #FAFAF9;}

.rev-content {    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;}

.person {margin-bottom: 10px;
    font-size: 18px;}

.rev-text {color: #44403C;
    line-height: 20px;
    font-weight: 300;}

.rev-block {border-bottom: 1px solid #D6D3D1;
    padding: 30px 0;
    width: 600px;}

.conteiner {max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 70px;}

.cont-for-conteiners {    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;}

.cont-for-price{    flex-grow: 1;
    border: 1px solid #E7E5E4;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.month {font-size: 18px;
    margin-top: 10px;
    color: #F97316;}

.price {font-weight: 700;
    font-size: 22px;
    margin-top: 10px;}

.check {width: 20px;
    height: 20px;
    margin-right: 5px;}

.cond {display: flex;
    align-items: center;
    margin: 5px 0;
    color: #78716C;
    font-size: 14px;
    }

.conditions {flex-grow: 1;
    margin-top: 20px;
}

.registration {background-color: #FFEDD5;
    border-radius: 8px;
    width: 100%;
    color: #EA580C;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;}

.footer {background-color: #E7E5E4;
    height: 150px;}

.foot-box {display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #78716C;}

.phone {display: flex;
    align-items: center;}

.phone-icon2 {width: 20px;
    height: 20px;
    margin-right: 10px;}

.icons {width: 28px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;}

.email {margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
font-family: Nunito Sans;}

